@charset "utf-8";

/*

   PHCT Typographic Style Sheet
   Author: Ihor Shvedenenko 
   Date: 01/21/21   
   
   Filename: styles_experience.css

*/

/* Styles for larger screens */
.card {
    margin: 5px;
    align-self: center;
}

.card ul {
    padding-left: 0px;
}

.card ul li {
    list-style-position: inside;
}


@media screen and (min-width: 720px) {
  
    .flex {
        flex-direction: column;
    }  
}