/* Styles for larger screens */
.card {
    margin: 5px;
    align-self: center;
}

.card ul {
    padding-inline-start: 20px;
}


@media screen and (min-width: 720px) {
  
    .flex {
        flex-direction: column;
    }  
}